* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #EDEDED;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-bar {
    width: 230px;
    background-color: #30475E;
    height: 100vh;
    color: #E8E8E8;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
}

.user-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 145px;
}
.user-info h4 {
    color: #e8e8e8;
}
.user-info span {
    color: #e8e8e8;
    font-size: medium;
    font-weight: 300;
}

.divisor{
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background: #e8e8e8;
}

.aside-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-start;
    width: 180px;
    height: auto;
}

.aside-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 160px;
    height: 100%;
}

.aside-menu ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
    
}

.aside-menu ul li a {
    align-self: flex-end;
    font-size: 1.1em;
    font-weight: 300;
    color: #e8e8e8;
    text-decoration: none;
    padding-left: 10px;
}

.icon-menu {
    align-self: flex-start;
    width: 30px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    width: 960px;
}

.donate-btns {
    width: 440px;
    height: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.donate-btns button{
    display: inline-block;
    width: 200px;
    height: 100%;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background: #F05454;
    color: #e8e8e8;
    cursor: pointer;
}


.donation-to-bank {
    
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 570px;
    align-self: flex-start;
    

}
.donation-to-bank h1 {
    color: #787878;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    margin-top: 20px;
}

.search-results {
    width: 570px;
    height: auto;
    /*overflow: scroll;
    overflow-x: hidden; */
    
}

