* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button:active,
button:focus {
    outline: none;
}

.person-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-around;
    width: 580px;
    height: 150px;
    border-radius: 5px;
    background-color: #ffffff;
}

.person-info {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
    height: 120px;
}

.person-info h4 {
    color: #787878;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 300;
    margin-bottom: 10px;
}

.left-info {
    align-self: flex-start;
}

.right-info {
    margin-left: 0px;
}

.donate-btn {
    width: 50px;
    height: 35px;
    align-self: flex-end;
}

.donate-btn button {
    width: 100%;
    height: 100%;
    color: #e8e8e8;
    background: linear-gradient(0.25turn, #E11515, #F93030);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.donation-confirm {
    align-self:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 100px;
    background: #e8e8e8;
    border: 1px solid #000000;
}

.donation-confirm div {
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

/* 
.donation-confirm div button {
    width: 80px;
    height: 30px;
    border:none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
}

.donation-confirm div button:first-child {
    background-color: green;
}

.donation-confirm div button:nth-child(2) {
    background-color: red;
} */